*{
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

.container{
    background-color: white;
    margin: 5% auto;
    width: 60%;
    display: flex;
    padding: 25px;
    border-radius:20px;
}

.left-section{
    width: 50%;
    margin: 10px 20px;
}

.left-section p{
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
}

.total-bill,.total-person{
    background-color: hsl(189, 41%, 97%);
    border: none;
    height: 35px;
    margin-bottom: 15px;
    border-radius:5px;
    width: 95%;
    text-align: end;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

.total-bill{
    margin-bottom: 30px;
}

.fa-rupiah-sign,.fa-user-large{
    position: absolute;
    color:hsl(183, 100%, 15%);
    margin: 12px;
    opacity: 0.5;
    font-size: 12px;
}

.tip-btns button, .custom-tip{
    width: 30%;
    height: 35px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.tip-btns{
    margin-bottom: 30px;
}

.tip-btns button{
    font-family: 'Space Mono', monospace;
    background-color: hsl(183, 100%, 15%);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.custom-tip{
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    padding: 0;
    font-size: 20px;
    border: none;
    background-color: hsl(189, 41%, 97%);
}

.right-section{
    background-color: hsl(183, 100%, 15%);
    width: 50%;
    padding: 10px 40px;
    border-radius: 15px;
}

.result{
    display: flex;  
    margin: 30px 0;
}

.result:nth-child(2) .label{
    padding-right: 19px;
}

.label{
    color: white;
    font-weight: 700;
}

.label span{
    color: hsl(184, 14%, 56%);
}

#tip-amount-result,#total-result{
    float: right;
    width: 60%;
    color: hsl(172, 67%, 45%);
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}

.right-section button{
    width: 100%;
    margin-top: 20%;
    height: 40px;
    background-color: hsl(172, 67%, 45%);
    border: none;
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
}


@media(max-width :980px){
    .container{
        display: block;
    }

    .left-section{
        width: 100%;
    }

    .right-section{
        width: 92%;
        padding: 20px;
    }
}