*{
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

.container{
    background-color: white;
    margin: 5% auto;
    width: 60%;
    display: flex;
    padding: 25px;
    border-radius:20px;
}

.left-section{
    width: 50%;
    margin: 10px 20px;
}

.left-section p{
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
}

.total-bill,.total-person{
    background-color: hsl(189, 41%, 97%);
    border: none;
    height: 35px;
    margin-bottom: 15px;
    border-radius:5px;
    width: 95%;
    text-align: end;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

.fa-rupiah-sign,.fa-user-large{
    position: absolute;
    color:hsl(183, 100%, 15%);
    margin: 10px;
    opacity: 0.5;
}

.tip-btns button, .custom-tip{
    width: 30%;
    height: 35px;
    margin: 0 0 10px 0;
}

.tip-btns{
    margin-bottom: 10px;
}

.tip-btns button{
    font-family: 'Space Mono', monospace;
    background-color: hsl(183, 100%, 15%);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.custom-tip{
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    padding: 0;
    font-size: 20px;
}

.right-section{
    background-color: hsl(183, 100%, 15%);
    width: 50%;
    padding: 10px;
}

.result{
    display: flex;
}
